@media All and (min-width : 812px) {
  /* Common */
  html, body {
    font-weight: 300;
    font-size: 100%;
  }
  .title_strong, 
  .newsletter .title_strong {
    display: inline;
    font-weight: 400;
  }
  .title {
    margin: 60px 0 0 0;
    font-weight: 400;
    font-size: 36px;
  }
  .description {
    margin: 10px 0 60px 0;
    font-weight: 300;
    font-size: 20px;
    color: var(--color-dark-white)
  }
  .br {
    display: block;
  }
  /* header */
  header {
    position: unset;
  }
  .login_info { 
    display: block;
  }
  .btn_drawer {
    display: none;
  }
  header .bread {
    display: none;
  }
  header .top_bar {
    position: relative;
    height: 55px;
    padding: 0 0 0 30px;
    border-bottom: none;
  }
  /* Global Navigation */
  .gnb{
    display: block;
    position: unset;
    width: 100%;
    padding: 0;
    background-color: var(--color-black);
    text-align: left;
  }
  .gnb::before {
    display: none;
  }
  .gnb .ico_arrow {
    display: none;
  }
  .gnb .main_menu:nth-of-type(5) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .gnb .main_menu:nth-of-type(6),
  .gnb .main_menu:nth-of-type(7),
  .gnb .main_menu:nth-of-type(8) {
    display: none;
  }
  .gnb .main_menu,
  .gnb .sub_menu {
    font-size: 14px;
  }
  .gnb .main_menu:hover {
    font-weight: 300;
  }
  .gnb>ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }
  .gnb .main_menu {
    position: relative;
    padding: 0;
  }
  .gnb .main_menu:nth-of-type(1){
    flex-basis: 130px;
  }
  .gnb .main_menu:nth-of-type(2),
  .gnb .main_menu:nth-of-type(3),
  .gnb .main_menu:nth-of-type(4),
  .gnb .main_menu:nth-of-type(5){
    padding-left: 40px;
    flex-basis: 90px;
  }
  .gnb .main_menu a{
    padding: 0;
  }
  .gnb .main_menu_txt {
    padding: 0;
  }
  .gnb .sub_menu {
    display: none;
  }
  .gnb .main_menu:hover .sub_menu{
    display: block;
  }
  .gnb .main_menu .sub_menu {
    position: absolute;
    top: 34px;
    width: 250px;
    padding: 10px 0 20px 0;
    border: 1px solid var(--color-dark-gray);
    border-top: 2px solid var(--color-medium-gray);
    background: var(--color-black);
  }
  .gnb .sub_menu li a{
    color: var(--color-white);
  }
  .gnb .main_menu:nth-of-type(1) .sub_menu {
    left: -25px;
  }
  .gnb .main_menu:nth-of-type(2) .sub_menu,
  .gnb .main_menu:nth-of-type(3) .sub_menu {
    left: 15px;
  }
  /* Search Btn */
  .btn_search {
    min-width: 66px;
    height: 55px;
    border-left: 0.5px solid var(--color-gray);
    background: var(--color-dark-gray);
  }
  .btn_search::after {
    display: block;
    position: absolute;
    top: 13px;
    right: 20px;
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    background: url(../img/sprite.png) no-repeat;
    background-size: 20rem 10rem;
    background-position: 0px 0px;
  }
  /* Search Box */
  header .search_container {
    z-index: 92;
    height: 55px;
    padding: 0;
    border-bottom: none;
    background: transparent;
    display: none;
  }
  header .search_container::before {
    display: block;
    content: "";
    width: 195px;
    height: 55px;
    background: transparent;
  }
  header .search_box {
    height: 55px;
    border: 1px solid var(--color-gray);
    background: var(--color-black);
  }
  header input[type=search] {
    font-size: 18px;
  }
  header .btn_close {
    min-width: 66px;
    height: 55px;
    margin-left: 0;
    background: var(--color-dark-gray);
  }
  header .btn_close::after {
    display: block;
    position: absolute;
    top: 16px;
    right: 20px;
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    background: url(../img/sprite.png) no-repeat;
    background-size: 20rem 10rem;
    background-position: -6rem 0px;
  }
  /* Home */
  .home h2 {
    font-weight: 400;
    letter-spacing: -2px;
  }
  .home .title_strong {
    display: inline;
  }
  /* Search Area */
  .home .search_area {
    width: 700px;
    margin-bottom: 140px;
  }
  .home .search_area select {
    min-width: 175px;
  }
  .home .search_area input[type=search] {
    width: 500px;
  }
  .home .search_area .submit_search {
    margin-left: 10px;
  }
  /* Product & Topic */
  .product {
    padding-bottom: 80px;
    border-bottom: 2px solid var(--color-gray);
  }
  .product .category {
    background: var(--color-dark-gray);
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
  .product .category li {
    height: 270px;
    border: 1px solid var(--color-gray);
  }
  .product .category li span:nth-of-type(1) {
    width: 80%;
    height: 75%;
  }
  .product .category li img {
    max-width: 150px;
    max-height: 140px;
  }
  .topic {
    padding-bottom: 50px;
    border-bottom: 2px solid var(--color-gray);
  }
  .topic .category {
    margin-top: -10px;
    background: none;
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;
  }
  .topic .category li {
    position: relative;
    height: 200px;
    border: 0;
  }
  .topic .category li::after {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    width: 1px;
    height: 50px;
    background: var(--color-gray);
    content: "";
  }
  .topic .category li:nth-of-type(6)::after {
    display: none;
  }
  .category li a{
    font-size: 17px;
  }
  /* Topic icon font */
  .icon-topic_errorcode::before,
  .icon-topic_partscatalog::before,
  .icon-topic_productinfo::before {
    font-size: 60px;
  }
  .icon-topic_symptoms::before, 
  .icon-topic_serviceguide::before {
    font-size: 70px;
  }
  .icon-topic_FAQ::before {
    font-size: 50px;
  }
  /* Recent Searched */
  .btn_prev, .btn_next {
    display: none;
  }
  .slider_container {
    margin-bottom: 20px;
  }
  .slider_wrap {
    overflow: visible;
    width: 100%;
    height: 100%;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px; 
    -moz-column-gap: 30px; 
    column-gap: 30px;
  } 
  .slider_cards {
    flex-direction: column;
    position: inherit;
    width: 100%;
    height: 500px;
    padding: 30px;
    border-bottom: 30px solid var(--color-light-black);
  }
  .cards_img {
    justify-content: center;
    width: 100%;
    height: 360px;
    border-bottom: 1px solid var(--color-medium-gray);
  }
  .cards_img img {
    max-width: 100%;
  }
  .cards_text {
    justify-content: center;
    width: 100%;
    height: 140px;
  }
  .cards_text>span {
    display: flex;
    align-items: center;
    height: 120px;
    font-size: 14px;
    color: var(--color-white);
  }
  .slider_cards a {
    margin-top: 0;
    font-weight: 400;
    font-size: 15px;
    border: 0.1rem solid var(--color-white);
    color: var(--color-white);
  }
  /* NewsLetter */
  .newsletter .banner {
    width: 100%;
    background-position: top;
  }
  /* Footer */
  footer {
    position: relative;
    background-color: var(--color-black);
  }
  .footer_bg {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
  }
  .site_map {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 420px;
    padding: 60px 0 0 60px;
  }
  .site_map .main_menu {
    margin-bottom: 30px;
    font-size: 17px;
  }
  .site_map .main_menu:nth-of-type(1) {
    width: 35%;
  }
  .site_map .main_menu:nth-of-type(2) {
    width: 25%;
  }
  .site_map .main_menu:nth-of-type(3) {
    width: 30%;
  }
  .site_map .main_menu:nth-of-type(4) {
    width: 10%;
  }
  .site_map .sub_menu {
    font-size: 16px;
  }
  .site_map .sub_menu:nth-of-type(1) {
    margin-top: 10px;
  }
  .search_container, 
  .sns, 
  .etc {
    background-color: var(--color-black);
  }
  .search_container {
    display: flex;
    position: absolute;
    top: 60px;
    right: 60px;
    width: 250px;
    padding: 0;
    transition: 0.3s;
  } 
  .search_box2 {
    width: 100%;
    height: 38px;
  }
  .search_box2 input[type=search] {
    font-size: 17px;
  }
  .sns {
    order: 1;
    position: absolute;
    width: auto;
    top: 115px;
    right: 50px;
    margin: 0;
    padding: 0;
    font-size: 17px;
    transition: 0.3s;
  }
  .sns ul {
    margin-left: 24px;
  }
  .sns li {
    margin-right: 15px;
  }
  .sns .icon-ico_box:before {
    font-size: 18px;
  }
  .etc {
    display: flex;
    align-items: center;
    order: 2;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 30px 0 25px 60px;
    font-size: 15px;
    border-top: 1px solid var(--color-medium-gray);
  }
  .etc li {
    margin-right: 30px;
  }
}
@media All and (min-width : 1279px) {
  body {
    overflow-x: hidden;
  }
  .category, 
  .slider_wrap,
  .newsletter .banner,
  .footer_bg {
    width: 1279px;
  }
  .site_map {
    padding: 60px 0 0 0;
  }
  .search_container {
    right: 0;
  }
  .sns {
    right: -12px;
  }
  .etc {
    padding-left: 0;
  }
  footer::before {
    display: block;
    content: "";
    position: absolute;
    bottom: 88px;
    left: -10px;
    width: 99.5vw;
    height: 1px;
    margin: 0 auto;
    background: var(--color-medium-gray);
  }
}